@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
/*-------------- Reset CSS----------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#app{

}
/* -----------------------------CSS cho phần Header (phần đầu trang web) -----------------------------------*/
#header{
    width: 100%;
    height: 75px;
    background-color: #d4d4d8;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 4px 0px #a1a1aa;
}
#header .logo{
    width: 25%;
    text-align: center;
}
#header .logo > a{
    font-size: 1.3rem;
    color: #8b5cf6;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Black Ops One', system-ui;
    white-space: nowrap;
}
.nav-link{
    width: 75%;
    text-align: center;
}
.nav-link ul{
    display: flex;
    justify-content:center;

}
.nav-link ul li{
    display: inline-block;
    padding: 1.5vw;
    
}
.nav-link ul li a{
    color: black;
    font-size: 1.15rem;
    font-weight: 600;
}
.nav-link ul li a:hover{
    color: #4ade80;
}
/* -----------------------------CSS cho phần Main (phần thân trang web) -----------------------------------*/
#main{
    margin-top: 4px;
    width: 100%;
    height: 100vh;
    background-color: #e4e4e7;
}
#home{
    padding: 4vh 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    /* flex-wrap: wrap; */

}
.content-home{
    width: 55%;
    /* text-align: center; */
    text-align: left;
    padding-left: 10%;
}
.content-home h1{
    font-size: 3em;
}
.my-avatar{
    width: 45%;
}
.my-avatar img{
    width: 20em;
    border: 6px solid #e7e5e4;
    border-radius: 23% 39% 15% 50% / 23% 35% 35% 43%  ;
    animation: morph 5s ease-in-out infinite;
    outline: 3px solid #67e8f9;
}
.my-avatar img:hover{
    border: 6px solid #d9f99d
}
@keyframes morph {
    0% {border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;}
    50% {border-radius: 40% 60%;}
    100% {border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;}
  }
@keyframes spin {
    to {
      transform: rotate(1turn);
    }
}


/* -----------------------------CSS cho phần Footer (phần cuối trang web) ---------------------------------*/
#footer{

}

/* ------------------------------------------Responsive -------------------------------------------*/
/* @media screen {  */
  /* Được dùng khi không ăn responsive */
/* } */

/* Màn hình Desktop cực lớn */
@media screen and (min-width: 1920px){

}
/* Màn hình Desktop lớn */
@media screen and (max-width: 1492px){

}
/* Màn hình Desktop */
@media screen and (max-width: 1200px){

}
/* Màn hình Tablet lớn */
@media screen and (max-width: 992px){

}
/* Màn hình Tablet */
@media screen and (max-width: 768px) {
    .nav-link{
        display: none;
    }
    .content-home{
        padding-left: 4%;
    }
    .content-home h1{
        font-size: 5vw;
    }
    .content-home p{
        font-size: 0.8em;
    }
    .my-avatar img{
        width: 40vw;
    }
}
/* Màn hình Mobile */
@media screen and (max-width : 534px){

}
/* Màn hình Mobile cực nhỏ */
@media screen and (max-width : 320px){

}